<form method="POST">
  <label for="name">Name:</label>
  <input id="name" type="text" placeholder="your name" name="name">
  <label for="username">Username:</label>
  <input id="username" type="username" placeholder="your username" name="username">
  <label for="password">password:</label>
  <input id="password" type="password" placeholder="your password" name="password">
  <button>Submit</button>
</form>