<!DOCTYPE html>
<html>
  <head>
    <title>Lab Express Basic Authentication</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href="/auth/sign-up">Sign Up</a>
      <a href="/auth/sign-in">Sign In</a>
    </nav>
    {{{body}}}
  </body>
</html>
